.nav-wrapper {
  background-color: whitesmoke;
}

#nav-mobile a {
  color: goldenrod
}

.brand-logo {
  color: goldenrod !important;
  margin-left: 10px !important;
  font-family: fantasy;
}

.bgimage {
  height: 100vh;
  background: url('images/bubbles.jpg');
  background-size: cover;
  position: relative;
}

.hero_title {
  font-size: 4.5rem;
  font-family: fantasy;
}

.hero_desc {
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

#contact-section {
  text-align: center;
}

#contacts {
  display: flex;
  justify-content: space-around;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: goldenrod !important;
}

#contact-section h1 {
  font-size: 26px;
}